{% if include.translate_langs %}
  {% assign translate_langs = include.translate_langs %}
{% endif %}

{% if include.lang %}
  {% assign lang = include.lang %}
{% endif %}

<div id="language-selector">
  <span class="ct-language">
    <ul class="list-unstyled ct-language-dropdown">
      {% for item in translate_langs %}
        <li>
          <a href="#" class="lang-select" data-lang="{{ item.lang }}" onclick="updateLanguage('{{ item.lang }}')">
            {% if item.img %}
            <img src="{{ item.img }}" title="{{ item.text }}">
            {% else %}
              {{ item.text }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </span>
</div>

<script type="text/javascript">
  function updateLanguage(lang) {
    var currentPath = window.location.pathname;
    var newPath = '/' + lang + currentPath.replace(/^\/[a-z]{2}\//, '/');
    window.location.href = newPath;
  }

  // The rest of your JavaScript code for Google Translate API remains the same
  // ...

</script>

<!-- The rest of your HTML layout code ... -->
